body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("/ds_odinline_extension/css/imagens/logo_final.png");
    background-size: cover;
    padding-top: 56px;

}

.botao-sair{
	display: flex;
}

.container {
    height: auto;
	width: 100%;
	padding: 0 1rem;      /* espaçamento lateral */
	margin: 0 auto;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.8); /* Deixa os inputs levemente transparentes */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.col-12 {
    margin-top: 20px;
    /* display: flex; */
    justify-content: center;
}

.error{
	color: red;
	font-size: 14px; 
}

hr{
	border: 2px solid red;
	background-color: red;
}

#fotoUsuario{
	width: 150px;
	height: 150px;
	margin-left: calc(50% - 75px);
	margin-right: calc(50% - 75px);
	border-radius: 100px;

}

.destaque{
	font-weight: bold;
}

#avatarUsuario{
	width: 25px;
	height: 25px;
	border-radius: 100px;
}

.fotoPequena{
	width: 30px;
	height: 30px;
}


#login a{
	color: white;
}

#logoLoja{
	width: 80%;
	margin-left: 10%;
}

@media (max-width: 575.98px) {
	h1 {
	  font-size: 1.5rem;           /* título menor */
	}
	.card {
	  margin-bottom: 1rem;         /* mais espaçamento */
	}
  }
  
  /* Para tablets (576px a 767.98px) */
  @media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
	  font-size: 1.75rem;
	}
  }
  
  /* Para desktops pequenos (768px a 991.98px) */
  @media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
	  font-size: 2rem;
	}
  }
  

